<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Printable Document</title>
    <style>
        :root {
            --page-margin: 38px;
            --margin: 90%;
            --margin-top: 36px;
            --brand-color: #ffc905;
            --pfont: 12px
        }

        /* Box sizing rules */
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        /* Remove default margin and set font*/
        body,
        h1,
        h2,
        h3,
        h4,
        p,
        figure,
        blockquote,
        dl,
        dd {
            margin: 0;
        }

        /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
        ul[role="list"],
        ol[role="list"] {
            list-style: none;
        }

        /* Set core root defaults */
        html:focus-within {
            scroll-behavior: smooth;
        }

        /* Set core body defaults */


        body,
        html {
            /* min-height: 100vh;*/
            text-rendering: optimizeSpeed;
            line-height: 1.5;
            font-family: Arial, Helvetica, Times, serif, sans-serif;
            font-size: var(--pfont);

            max-width: calc(794px - (var(--page-margin) * 2));
        }

        html {
            margin: 0 auto;
        }

        body {
            margin: 0 var(--page-margin);
        }


        /* A elements that don't have a class get default styles */
        a:not([class]) {
            text-decoration-skip-ink: auto;
        }

        /* Make images easier to work with */
        img,
        picture {
            max-width: 100%;
            display: block;
        }

        /* Inherit fonts for inputs and buttons */
        input,
        button,
        textarea,
        select {
            font: inherit;
        }

        /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
        @media (prefers-reduced-motion: reduce) {
            html:focus-within {
                scroll-behavior: auto;
            }

            *,
            *::before,
            *::after {
                animation-duration: 0.01ms !important;
                animation-iteration-count: 1 !important;
                transition-duration: 0.01ms !important;
                scroll-behavior: auto !important;
            }
        }

        @page {
            margin: 0;
        }

        @media print {
            thead {
                display: table-header-group;
            }

            tfoot {
                display: table-footer-group;
            }

        }

        table {
            border-spacing: unset;
            width: 100%;
        }

        td {
            vertical-align: text-top;
        }

        .page {

            page-break-after: always;
            margin: 0;

        }

        .page-break {
            page-break-after: always;
        }
    </style>
</head>

<body>

    <h1 id="limitations">report limitations</h1>
    <p>
        This inspection report is the intellectual property of HDMK Home Inspection and is
        intended for the exclusive use of the client for whom it was prepared. It is not to be
        copied or disseminated to any other party without the expressed written consent of HDMK
        Home Inspection. Neither the inspector nor HDMK Home Inspection company shall have any
        liability whatsoever to any third party using or relying on its contents.
        Any third party using this report agrees thereby to defend, indemnify and hold the
        inspector and HDMK Home Inspection company harmless from any claims of any person
        relying on the report. This inspection report also includes a copy of the Building
        Inspection Authorization and Agreement.
        <br /> <br />
        HDMK Home Inspection and HDMK are registered trademarks of HDMK Franchising LLC. The
        HDMK logo encompasses two separately owned and operated companies (HDMK Home Inspection
        and HDMK Pest control LLC) and may be used by either of these companies. HDMK Home
        Inspection refers to an independently operated franchise. This report (and/or documents
        accompanying it) may contain privileged communications and confidential business
        information that is intended for use only by the individual or company to whom it is
        addressed. Disclosure, interception, copying or any other use of this report by anyone
        other than any intended recipient is prohibited. Any party using this report agrees
        thereby to defend, indemnify and hold the parent HDMK Home Inspection company, HDMK
        Pest control, HDMK, or HDMK Franchising LLC harmless from any claims of any person
        relying on the report.
        <br /> <br />
        This report is intended only as a general guide to help the client(s) make their own
        evaluation of the overall condition of the building, and is not intended to reflect the
        value of the premises, nor make any representation as to the advisability of purchase.
        The report expresses the personal opinions of the inspector, based upon his visual
        impressions of the conditions that existed at the time of the inspection only.
        The inspection process includes a limited, visual, performance based inspection of the
        property, subject to the limitations described herein and in the attached "Building
        Inspection Authorization and Agreement." The inspectionand report are not intended to be
        technically exhaustive, or to imply that every component was inspected, or that every
        possible defect was discovered. It is recommended that proper installation of any
        equipment on the property be verified by consulting the manufacturer's instructions.
        While the inspector may mention an item that is suspected of being involved in a recall,
        every item in the home is not checked for recall status by the inspector. It is
        recommended that all devices in the home be checked for recalls at www.CPSC.gov. No
        disassembly of equipment, opening of walls, moving of furniture or floor coverings,
        appliances or stored items, or excavation was performed. All components and conditions
        which by the nature of their location are concealed, camouflaged or difficult to inspect
        are excluded from the report. If some areas are concealed by furniture or other personal
        property, it is highly recommended that the purchaser do a thorough inspection during
        their final walk through. If any problems or questionable conditions are reported on by
        the inspector, or if the purchaser is concerned with any property conditions, it is
        recommended that a qualified professional be retained to further investigate the
        situation, and make necessary upgrades as needed before the act of sale occurs.
        <br /> <br />
        Systems and conditions which are not within the normal scope of the building inspection
        (unless previously contracted) include, but are not limited to: formaldehyde, lead
        paint, asbestos, radon, carbon monoxide, fuel gas leaks, toxic or flammable materials,
        mold, contaminated drywall, carcinogens, or other environmental hazards, whether in the
        building, soil, water or air; pest infestation; playground equipment; efficiency
        measurement of insulation or heating and cooling equipment; internal or underground
        drainage or plumbing; sprinkler systems; pool and spa equipment; any systems which are
        shut down or otherwise secured; water wells (water quality and quantity); septic
        systems; zoning ordinances; intercoms; security systems; heat sensors; cosmetics or
        building code conformity. Any general comments about these systems and conditions are
        informational only and do not represent an inspection. If any potential problem is
        suspected regarding the above systems or conditions, it is recommended that a qualified
        professional be retained to further investigate the situation, and make necessary
        upgrades as needed before the act of sale occurs.
        <br /> <br />
        The inspection report should not be construed as a compliance inspection of any
        governmental or non governmental codes or regulations. The report is not intended to be
        a warranty or guarantee of the present or future adequacy or performance of the
        structure, its systems, or their component parts. This report does not constitute any
        express or implied warranty of merchantability or fitness for use regarding the
        condition of the property and it should not be relied upon as such. Any opinions herein
        expressed regarding adequacy, capacity, or expected life of components are general
        estimates based on information about similar components and occasional wide variations
        are to be expected between such estimates and actual experience.
        <br /> <br />
        We certify that our inspectors have no interest, present or contemplated, in this
        property or its improvement and no involvement with tradespeople or benefits derived
        from any sales or improvements. To the best of our knowledge and belief, all statements
        and information in this report are true and correct.
        <br /> <br />
        Should any disagreement or dispute arise as a result of this inspection or report, it
        shall be decided by arbitration and shall be submitted for binding, non-appealable
        arbitration in accordance with applicable laws and regulations of the State in which the
        inspection was performed, unless the parties mutually agree otherwise. In the event of a
        claim, the Client will allow the Inspection Company to inspect the claim prior to any
        repairs or waive the right to make the claim. Client agrees not to disturb or repair or
        have repaired anything which may constitute evidence relating to the complaint, except
        in the case of an emergency.
        <br /> <br />
        This report includes an estimation of the age of the principal structure, some
        components, and its roof. This estimation is based on information provided to the
        inspector by the seller, purchaser, real estate agent, or property disclosure report,
        and is only an approximation.
        <br /> <br />
        Items inspected for this report are deemed "appears serviceable" if, at the time of
        inspection, they are considered to be in a functional and operable condition. These
        items may be at any point in their service life, from brand new to approaching end of
        life expectancy. As they are mechanical systems, it should be expected that they will,
        at some point, break down and need repair or replacement. This report is not intended to
        predict these events, it is simply an overview of the functionality of the items and
        systems inspected as they existed at the time of inspection. If there are any concerns
        about the life expectancy of any items in this report, it is recommended that additional
        evaluation by qualified licensed contractors be performed prior to closing.
        <br /> <br />
        The name of the inspector, contact information, and license number at the top of each
        page of the report shall be considered a suitable substitute for the inspectors hand
        written signature on the report.
        <br /> <br />
        Items inspected for this report are deemed "appears serviceable" if, at the time of
        inspection, they are considered to be in a functional and operable condition. These
        items may be at any point in their service life, from brand new to approaching end of
        life expectancy. As they are mechanical systems, it should be expected that they will,
        at some point, break down and need repair or replacement. This report is not intended to
        predict these events, it is simply an overview of the functionality of the items and
        systems inspected as they existed at the time of inspection. If there are any concerns
        about the life expectancy of any items in this report, it is recommended that additional
        evaluation by qualified licensed contractors be performed prior to closing.
        <br /> <br />
        The name of the inspector, contact information, and license number at the top of each
        page of the report shall be considered a suitable substitute for the inspectors hand
        written signature on the report.
    </p>

</body>