<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uniform Mitigation Verification Inspection Form</title>
    <style>
        :root {
            --page-margin: 50px;
            --page-width: 794px;
            --page-height: 1123px;
            --margin-top: 20px;
            --pfont: 12px;
            --header-top: 48px;
            --footer: 40px;
            --font-family: "Times New Roman", sans-serif;
        }

        /* Box sizing rules */
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        /* Remove default margin and set font*/
        body,
        h1,
        h2,
        h3,
        h4,
        p,
        figure,
        blockquote,
        dl,
        dd {
            margin: 0;

        }

        /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
        ul[role="list"],
        ol[role="list"] {
            list-style: none;
        }

        /* Set core root defaults */
        html:focus-within {
            scroll-behavior: smooth;
        }

        /* Set core body defaults */

        body,
        html {
            min-height: 100vh;
            text-rendering: optimizeSpeed;
            line-height: 1.5;
            font-family: 'Times New Roman', Times, serif Arial, Helvetica, Times, serif, sans-serif;
            font-size: var(--pfont);
        }

        /* A elements that don't have a class get default styles */
        a:not([class]) {
            text-decoration-skip-ink: auto;
        }

        /* Make images easier to work with */
        img,
        picture {
            max-width: 100%;
            display: block;
        }

        /* Inherit fonts for inputs and buttons */
        input,
        button,
        textarea,
        select {
            font: inherit;
        }

        /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
        @media (prefers-reduced-motion: reduce) {
            html:focus-within {
                scroll-behavior: auto;
            }

            *,
            *::before,
            *::after {
                animation-duration: 0.01ms !important;
                animation-iteration-count: 1 !important;
                transition-duration: 0.01ms !important;
                scroll-behavior: auto !important;
            }
        }

        @page {
            size: A4;
            margin: 0 10mm;

            @bottom-left {
                content: counter(page) ' of ' counter(pages);
            }

        }

        @media print {
            thead {
                display: table-header-group;
            }

            tfoot {
                display: table-footer-group;
            }

        }

        h1 {
            font-size: 14px;
            font-weight: bold;
        }

        table {
            border-spacing: unset;
            width: 100%;
        }

        table.bordered {
            /* margin-top: 1em;*/
            border: 1px solid;
            border-spacing: 0;
        }

        table.bordered td {
            padding: 2px 6.5px;
            border: 1px solid;
        }

        table.rc {
            /*display: flex;
            justify-content: center;
            width: 70%;*/
        }

        table.rc tr td * {
            
        }

        table.rc tr:first-child td p {
            font-weight: bold;
            text-align: center;
        }

        header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-items: center;
        }

        section {
            page-break-after: always;
            margin-top: var(--margin-top);
            /*margin-top: calc(36px + var(--margin-top));*/
        }

        label {
            display: flex;
            align-content: center;
        }

        p,
        span,
        table {
            font-size: var(--pfont);
        }
    </style>
</head>

<body>
    <section>
        <header>
            <h1>Uniform Mitigation Verification Inspection Form</h1>
            <p>Maintain a copy of this form and any documentation provided with the insurance policy</p>
        </header>

        <table class="bordered">
            <tbody>
                <tr>
                    <td colspan="3">Inspection Date:</td>
                </tr>
                <tr>
                    <td colspan="3"><strong>Owner Information</strong></td>
                </tr>
                <tr>
                    <td colspan="2">Owner Name:</td>
                    <td>Contact Person:</td>
                </tr>
                <tr>
                    <td colspan="2">Address:</td>
                    <td>Home Phone:</td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td>Zip:</td>
                    <td>Work Phone:</td>
                </tr>
                <tr>
                    <td colspan="2">County:</td>
                    <td>Cell Phone:</td>
                </tr>
                <tr>
                    <td colspan="2">Insurance Company:</td>
                    <td>Policy #:</td>
                </tr>
                <tr>
                    <td>Year of Home:</td>
                    <td># of Stories:</td>
                    <td>Email:</td>
                </tr>
            </tbody>
        </table>

        <p style="padding-top: 9px;">
            <strong>
                NOTE: Any documentation used in validating the compliance or existence of each construction or
                mitigation
                attribute must accompany this form. At least one photograph must accompany this form to validate each
                attribute marked in questions 3
                though 7. The insurer may ask additional questions regarding the mitigated feature(s) verified on this
                form.
            </strong>
        </p>

        <p>
            1. <strong> <u>Building Code:</u></strong> Was the structure built in compliance with the Florida Building
            Code
            (FBC 2001 or later) OR for homes located in the HVHZ (Miami-Dade or Broward counties), South Florida
            Building
            Code (SFBC-94)?
        </p>

        <label>
            <input type="checkbox" />
            <p>A. Built in compliance with the FBC: Year Built _________. For homes built in 2002/2003 provide a permit
                application with a date after 3/1/2002: Building Permit Application Date (MM/DD/YYYY) ____/____/________
            </p>
        </label>
        <label>
            <input type="checkbox" />
            <p>B. For the HVHZ Only: Built in compliance with the SFBC-94: Year Built ______. For homes built in 1994,
                1995,
                and 1996 provide a permit application with a date after 9/1/1994: Building Permit Application Date
                (MM/DD/YYYY) ___/___/______</p>
        </label>
        <label>
            <input type="checkbox" />
            <p>C. Unknown or does not meet the requirements of Answer “A” or “B”</p>
        </label>

        <p>
            2.<strong> <u>Roof Covering:</u></strong> Select all roof covering types in use. Provide the permit
            application
            date OR FBC/MDC Product
            Approval number OR Year of Original Installation/Replacement OR indicate that no information was available
            to
            verify compliance for each roof
            covering identified.
        </p>

        <table class="rc">
            <tbody>
                <tr>
                    <td>
                        <p>2.1 Roof Covering Type:</p>
                    </td>
                    <td>
                        <p>Permit Application Date</p>
                    </td>
                    <td>
                        <p>FBC/MDC Product Approval #</p>
                    </td>
                    <td>
                        <p>Year of Original <br> Installation/Replacement</p>
                    </td>
                    <td>
                        <p>No Information Provided <br> for Compliance</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            <input type="checkbox" />
                            <p>1. Asphalt/Fiberglass Shingle</p>
                        </label>
                    </td>
                    <td>____/____/_______</td>
                    <td></td>
                    <td></td>
                    <td> <input type="checkbox" /></td>
                </tr>
                <tr>
                    <td><label>
                            <input type="checkbox" />
                            <p>2. Concrete/Clay Tile</p>
                        </label></td>
                    <td>____/____/_______</td>
                    <td></td>
                    <td></td>
                    <td> <input type="checkbox" /></td>
                </tr>
                <tr>
                    <td><label>
                            <input type="checkbox" />
                            <p>3. Metal</p>
                        </label></td>
                    <td>____/____/_______</td>
                    <td></td>
                    <td></td>
                    <td> <input type="checkbox" /></td>
                </tr>
                <tr>
                    <td><label>
                            <input type="checkbox" />
                            <p>4. Built Up</p>
                        </label></td>
                    <td>____/____/_______</td>
                    <td></td>
                    <td></td>
                    <td> <input type="checkbox" /></td>
                </tr>
                <tr>
                    <td><label>
                            <input type="checkbox" />
                            <p>5. Membrane</p>
                        </label></td>
                    <td>____/____/_______</td>
                    <td></td>
                    <td></td>
                    <td> <input type="checkbox" /></td>
                </tr>
                <tr>
                    <td><label>
                            <input type="checkbox" />
                            <p>6. Other______________________</p>
                        </label></td>
                    <td>____/____/_______</td>
                    <td></td>
                    <td></td>
                    <td> <input type="checkbox" /></td>
                </tr>
            </tbody>
        </table>
        <label>
            <input type="checkbox" />
            <p>A. All roof coverings listed above meet the FBC with a FBC or Miami-Dade Product Approval listing current
                at
                time of installation OR have a roofing permit application date on or after 3/1/02 OR the roof is
                original
                and built in 2004 or later.</p>
        </label>
        <label>
            <input type="checkbox" />
            <p>B. All roof coverings have a Miami-Dade Product Approval listing current at time of installation OR (for
                the
                HVHZ only) a roofing permit application after 9/1/1994 and before 3/1/2002 OR the roof is original and
                built
                in 1997 or later.</p>
        </label>
        <label>
            <input type="checkbox" />
            <p>C. One or more roof coverings do not meet the requirements of Answer “A” or “B”.</p>
        </label>
        <label>
            <input type="checkbox" />
            <p>D. No roof coverings meet the requirements of Answer “A” or “B”.</p>
        </label>
        <p>
            3. <strong><u>Roof Deck Attachment:</u></strong> What is the <strong><u>weakest</u></strong> form of roof
            deck
            attachment?
        </p>
        <label>
            <input type="checkbox" />
            <p>A. Plywood/Oriented strand board (OSB) roof sheathing attached to the roof truss/rafter (spaced a maximum
                of
                24” inches o.c.) by staples or 6d nails spaced at 6” along the edge and 12” in the field. -OR- Batten
                decking supporting wood shakes or wood shingles. -OR- Any system of screws, nails, adhesives, other deck
                fastening system or truss/rafter spacing that has an equivalent mean uplift less than that required for
                Options B or C below.</p>
        </label>
        <label>
            <input type="checkbox" />
            <p>B. Plywood/OSB roof sheathing with a minimum thickness of 7/16”inch attached to the roof truss/rafter
                (spaced
                a maximum of 24”inches o.c.) by 8d common nails spaced a maximum of 12” inches in the field.-OR- Any
                system
                of screws, nails, adhesives, other deck fastening system or truss/rafter spacing that is shown to have
                an
                equivalent or greater resistance 8d nails spaced a maximum of 12 inches in the field or has a mean
                uplift
                resistance of at least 103 psf.</p>
        </label>
        <label>
            <input type="checkbox" />
            <p>C. Plywood/OSB roof sheathing with a minimum thickness of 7/16”inch attached to the roof truss/rafter
                (spaced
                a maximum of 24”inches o.c.) by 8d common nails spaced a maximum of 6” inches in the field. -OR-
                Dimensional
                lumber/Tongue & Groove decking with a minimum of 2 nails per board (or 1 nail per board if each board is
                equal to or less than 6 inches in width). -ORAny system of screws, nails, adhesives, other deck
                fastening
                system or truss/rafter spacing that is shown to have an equivalent</p>
        </label>

        <p>
            <strong>Inspectors Initials</strong> __________
            <strong>Property Address</strong> __________________________________________________________________
        </p>
        <p>
            <strong>
                *This verification form is valid for up to five (5) years provided no material changes have been made to
                the
                structure. OIR-B1-1802 (Rev. 01/12) Adopted by Rule 69O-170.0155
            </strong>
        </p>
    </section>

    <section>
        <p>or greater resistance than 8d common nails spaced a maximum of 6 inches in the field or has a mean uplift
            resistance of at least 182 psf.</p>
        <label>
            <input type="checkbox" />
            <p>D. Reinforced Concrete Roof Deck.</p>
        </label>
        <label>
            <input type="checkbox" />
            <p>E. Other: _____________________________________________</p>
        </label>
        <label>
            <input type="checkbox" />
            <p>F. Unknown or unidentified.</p>
        </label>
        <label>
            <input type="checkbox" />
            <p>G. No attic access.</p>
        </label>
        <p>4. <strong><u>Roof to Wall Attachment:</u></strong> What is the <strong>WEAKEST</strong> roof to wall
            connection? (Do not include attachment of hip/valley jacks within 5 feet of the inside or outside corner of
            the roof in determination of WEAKEST type)
        </p>
        <label>
            <input type="checkbox" />
            <p>A. Toe Nails</p>
            <label>
                <input type="checkbox" />
                <p>Truss/rafter anchored to top plate of wall using nails driven at an angle through the truss/rafter
                    and attached to the top plate of the wall, or</p>
            </label>
            <label>
                <input type="checkbox" />
                <p>Metal connectors that do not meet the minimal conditions or requirements of B, C, or D</p>
            </label>
            <p>
                <strong>
                    <u>Minimal conditions to qualify for categories B, C, or D. All visible metal connectors are:</u>
                </strong>
            </p>
            <label>
                <input type="checkbox" />
                <p>Secured to truss/rafter with a minimum of three (3) nails, and</p>
            </label>
            <label>
                <input type="checkbox" />
                <p>Attached to the wall top plate of the wall framing, or embedded in the bond beam, with less than a ½”
                    gap from the blocking or truss/rafter and blocked no more than 1.5” of the truss/rafter, and free of
                    visible severe corrosion.</p>
            </label>
        </label>
        <label>
            <input type="checkbox" />
            <p>B. Clips</p>
            <label>
                <input type="checkbox" />
                <p>Metal connectors that do not wrap over the top of the truss/rafter, or</p>
            </label>
            <label>
                <input type="checkbox" />
                <p>Metal connectors with a minimum of 1 strap that wraps over the top of the truss/rafter and does not
                    meet the nail position requirements of C or D, but is secured with a minimum of 3 nails.</p>
            </label>
        </label>
        <label>
            <input type="checkbox" />
            <p>C. Single Wraps</p>
            <label>
                <input type="checkbox" />
                <p>Metal connectors consisting of a single strap that wraps over the top of the truss/rafter and is
                    secured with a minimum of 2 nails on the front side and a minimum of 1 nail on the opposing side.
                </p>
            </label>
        </label>
        <label>
            <input type="checkbox" />
            <p>D. Double Wraps</p>
            <label>
                <input type="checkbox" />
                <p>Metal Connectors consisting of 2 separate straps that are attached to the wall frame, or embedded in
                    the bond beam, on either side of the truss/rafter where each strap wraps over the top of the
                    truss/rafter and is secured with a minimum of 2 nails on the front side, and a minimum of 1 nail on
                    the opposing side, or
                </p>
            </label>
            <label>
                <input type="checkbox" />
                <p>
                    Metal connectors consisting of a single strap that wraps over the top of the truss/rafter, is
                    secured to the wall on both sides, and is secured to the top plate with a minimum of three nails on
                    each side.
                </p>
            </label>
        </label>
        <label>
            <input type="checkbox" />
            <p>
                E. Structural Anchor bolts structurally connected or reinforced concrete roof.
            </p>
        </label>
        <label>
            <input type="checkbox" />
            <p>
                F. Other: _______________________________________________
            </p>
        </label>
        <label>
            <input type="checkbox" />
            <p>
                G. Unknown or unidentified
            </p>
        </label>
        <label>
            <input type="checkbox" />
            <p>
                H. No attic access
            </p>
        </label>
        <p>5. <strong><u>Roof Geometry:</u></strong> What is the roof shape? (Do not consider roofs of porches or
            carports that are attached only to the fascia or wall of the host structure over unenclosed space in the
            determination of roof perimeter or roof area for roof geometry classification).</p>

        <table>
            <tbody>
                <tr>
                    <td>
                        <label>
                            <input type="checkbox" />
                            <p>
                                A. Hip Roof
                            </p>
                        </label>
                    </td>
                    <td>Hip roof with no other roof shapes greater than 10% of the total roof system perimeter.
                        Total length of non-hip features: ______ feet; Total roof system perimeter: _______ feet</td>
                </tr>
                <tr>
                    <td>
                        <label>
                            <input type="checkbox" />
                            <p>
                                B. Flat Roof
                            </p>
                        </label>
                    </td>
                    <td>
                        Roof on a building with 5 or more units where at least 90% of the main roof area has a roof
                        slope of less than 2:12. Roof area with slope less than 2:12 ________ sq ft; Total roof area
                        __________sq ft
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            <input type="checkbox" />
                            <p>
                                C. Other Roof
                            </p>
                        </label>
                    </td>
                    <td>Any roof that does not qualify as either (A) or (B) above.</td>
                </tr>
            </tbody>
        </table>
        <p>6. <strong><u>Secondary Water Resistance (SWR):</u></strong> (standard underlayments or hot-mopped felts do
            not qualify as an SWR)</p>
        <label>
            <input type="checkbox" />
            <p>
                A. SWR (also called Sealed Roof Deck) Self-adhering polymer modified-bitumen roofing underlayment
                applied directly to the sheathing or foam adhesive SWR barrier (not foamed-on insulation) applied as a
                supplemental means to protect the dwelling from water intrusion in the event of roof covering loss.
            </p>
        </label>
        <label>
            <input type="checkbox" />
            <p>
                B. No SWR.
            </p>
        </label>
        <label>
            <input type="checkbox" />
            <p>
                C. Unknown or undetermined.
            </p>
        </label>
        <p>
            <strong>Inspectors Initials</strong> __________
            <strong>Property Address</strong>__________________________________________________________________

        </p>
        <p><strong>*This verification form is valid for up to five (5) years provided no material changes have been made
                to the structure or inaccuracies found on the form.
                OIR-B1-1802 (Rev. 01/12) Adopted by Rule 69O-170.0155</strong></p>
    </section>
    <section>
        <p>7. <strong><u>Opening Protection:</u></strong> What is the weakest form of wind borne debris protection
            installed on the structure?
            First, use the table to determine the weakest form of protection for each category of opening. Second, (a)
            check one answer below (A, B, C, N, or X) based upon the lowest protection level for ALL Glazed openings and
            (b) check the protection level for all Non-Glazed openings (.1, .2, or .3) as applicable.</p>

        <table>
            <tbody>
                <tr>
                    <td rowspan="2" colspan="2">
                        <strong>Opening Protection Level Chart</strong>
                        <p>Place an “X” in each row to identify all forms of protection in use for each opening type.
                            Check only one answer below (A thru X), based on the weakest form of protection (lowest row)
                            for any of the Glazed openings and indicate the weakest form of protection (lowest row) for
                            Non-Glazed openings.</p>
                    </td>
                    <td colspan="4">Glazed Openings</td>
                    <td colspan="2">Non-Glazed Openings</td>
                </tr>
                <tr>
                    <td>Windows / Entry Doors</td>
                    <td>Garage Doors</td>
                    <td>Skylights</td>
                    <td>Glass Block</td>
                    <td>Entry Doors</td>
                    <td>Garage Doors</td>
                </tr>
                <tr>
                    <td>N/A</td>
                    <td>Not Applicable- there are no openings of this type on the structure</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>Verified cyclic pressure & large missile (9-lb for windows doors/4.5 lb for skylights)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>B</td>
                    <td>Verified cyclic pressure & large missile (4-8 lb for windows doors/2 lb for skylights)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>Verified plywood/OSB meeting Table 1609.1.2 of the FBC 2007</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>D</td>
                    <td>Verified Non-Glazed Entry or Garage doors indicating compliance with ASTM E 330,
                        ANSI/DASMA 108, or PA/TAS 202 for wind pressure resistance</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td rowspan="2">N</td>
                    <td>Opening Protection products that appear to be A or B but are not verified</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Other protective coverings that cannot be identified as A, B, or C</td>
                </tr>
                <tr>
                    <td>X</td>
                    <td>No Windborne Debris Protection</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <label>
            <input type="checkbox">
            <p>
                <strong>
                    <u>
                        A. Exterior Openings Cyclic Pressure and 9-lb Large Missile (4.5 lb for skylights
                        only)
                    </u>
                </strong> All Glazed openings are protected at a minimum, with impact resistant coverings or products
                listed as wind borne debris protection devices in the product approval system of the State of Florida or
                Miami-Dade County and meet the requirements of one of the following for “Cyclic Pressure and Large
                Missile Impact” (Level A in the table above).
            <ul>
                <li>Miami-Dade County PA 201, 202, and 203</li>
                <li>Florida Building Code Testing Application Standard (TAS) 201, 202, and 203</li>
                <li>American Society for Testing and Materials (ASTM) E 1886 and ASTM E 1996</li>
                <li>Southern Standards Technical Document (SSTD) 12</li>
                <li>For Skylights Only: ASTM E 1886 and ASTM E 1996</li>
                <li>For Garage Doors Only: ANSI/DASMA 115</li>
            </ul>
            </p>
            <label>
                <input type="checkbox">
                <p>A.1 All Non-Glazed openings classified as A in the table above, or no Non-Glazed openings exist</p>
            </label>
            <label>
                <input type="checkbox">
                <p>A.2 One or More Non-Glazed openings classified as Level D in the table above, and no Non-Glazed
                    openings classified as Level B, C, N, or X in the table above</p>
            </label>
            <label>
                <input type="checkbox">
                <p>A.3 One or More Non-Glazed Openings is classified as Level B, C, N, or X in the table above</p>
            </label>
        </label>
        <label>
            <input type="checkbox">
            <p>
                <strong>
                    <u>
                        B. Exterior Opening Protection- Cyclic Pressure and 4 to 8-lb Large Missile (2-4.5 lb for
                        skylights
                        only)
                    </u>
                </strong> All Glazed openings are protected, at a minimum, with impact resistant coverings or products
                listed as windborne debris protection devices in the product approval system of the State of Florida or
                Miami-Dade County and meet the requirements of one of the following for “Cyclic Pressure and Large
                Missile Impact” (Level B in the table above):
            <ul>
                <li>ASTM E 1886 and ASTM E 1996 (Large Missile – 4.5 lb.)</li>
                <li>SSTD 12 (Large Missile – 4 lb. to 8 lb.)</li>
                <li>For Skylights Only: ASTM E 1886 and ASTM E 1996 (Large Missile - 2 to 4.5 lb.)</li>
            </ul>
            </p>
            <label>
                <input type="checkbox">
                <p>B.1 All Non-Glazed openings classified as A or B in the table above, or no Non-Glazed openings exist
                </p>
            </label>
            <label>
                <input type="checkbox">
                <p>B.2 One or More Non-Glazed openings classified as Level D in the table above, and no Non-Glazed
                    openings classified as Level C, N, or X in the table above</p>
            </label>
            <label>
                <input type="checkbox">
                <p>B.3 One or More Non-Glazed openings is classified as Level C, N, or X in the table above</p>
            </label>
        </label>
        <label>
            <input type="checkbox">
            <p><strong><u>C. Exterior Opening Protection- Wood Structural Panels meeting FBC 2007</u></strong> All
                Glazed openings are covered with plywood/OSB meeting the requirements of Table 1609.1.2 of the FBC 2007
                (Level C in the table above).</p>
            <label>
                <input type="checkbox">
                <p>C.1 All Non-Glazed openings classified as A, B, or C in the table above, or no Non-Glazed openings
                    exist</p>
            </label>
            <label>
                <input type="checkbox">
                <p>C.2 One or More Non-Glazed openings classified as Level D in the table above, and no Non-Glazed
                    openings classified as Level N or X in the table above</p>
            </label>
            <label>
                <input type="checkbox">
                <p>C.3 One or More Non-Glazed openings is classified as Level N or X in the table above</p>
            </label>
        </label>
        <p>
            <strong>Inspectors Initials</strong> __________
            <strong>Property Address</strong>__________________________________________________________________

        </p>
        <p><strong>*This verification form is valid for up to five (5) years provided no material changes have been made
                to the structure or inaccuracies found on the form.
                OIR-B1-1802 (Rev. 01/12) Adopted by Rule 69O-170.0155</strong></p>
    </section>
    <section>
        <label>
            <input type="checkbox">
            <p>
                <strong><u>N. Exterior Opening Protection (unverified shutter systems with no
                        documentation)</u></strong> All Glazed openings are protected with protective coverings not
                meeting the requirements
                of Answer “A”, “B”, or C” or systems that appear to meet Answer “A” or “B” with no documentation of
                compliance (Level N in the table above).
            </p>
            <label>
                <input type="checkbox">
                <p>N.1 All Non-Glazed openings classified as Level A, B, C, or N in the table above, or no Non-Glazed
                    openings exist</p>
            </label>
            <label>
                <input type="checkbox">
                <p>N.2 One or More Non-Glazed openings classified as Level D in the table above, and no Non-Glazed
                    openings classified as
                    Level X in the table above</p>
            </label>
            <label>
                <input type="checkbox">
                <p>N.3 One or More Non-Glazed openings is classified as Level X in the table above
                </p>
            </label>
        </label>
        <label>
            <input type="checkbox">
            <p><strong><u>X. None or Some Glazed Openings</u></strong> One or more Glazed openings classified and Level
                X in the table above.
            </p>
        </label>
        <table>
            <tbody>
                <tr>
                    <td colspan="3">MITIGATION INSPECTIONS MUST BE CERTIFIED BY A QUALIFIED INSPECTOR. Section
                        627.711(2), Florida Statutes, provides a listing of individuals who may sign this form.</td>
                </tr>
                <tr>
                    <td>Qualified Inspector Name:</td>
                    <td>License Type:</td>
                    <td>License or Certificate #:</td>
                </tr>
                <tr>
                    <td colspan="2">Inspection Company:</td>
                    <td>Phone:</td>
                </tr>
            </tbody>
        </table>
        <p><strong><u>Qualified Inspector – I hold an active license as a:</u></strong> (check one)</p>
        <label>
            <input type="checkbox">
            <p>Home inspector licensed under Section 468.8314, Florida Statutes who has completed the statutory number
                of hours of hurricane mitigation training approved by the Construction Industry Licensing Board and
                completion of a proficiency exam.</p>
        </label>
        <label>
            <input type="checkbox">
            <p>Building code inspector certified under Section 468.607, Florida Statutes.</p>
        </label>
        <label>
            <input type="checkbox">
            <p>General, building or residential contractor licensed under Section 489.111, Florida Statutes.</p>
        </label>
        <label>
            <input type="checkbox">
            <p>Professional engineer licensed under Section 471.015, Florida Statutes.</p>
        </label>
        <label>
            <input type="checkbox">
            <p>Professional architect licensed under Section 481.213, Florida Statutes.</p>
        </label>
        <label>
            <input type="checkbox">
            <p>Any other individual or entity recognized by the insurer as possessing the necessary qualifications to
                properly complete a uniform mitigation verification form pursuant to Section 627.711(2), Florida
                Statutes.</p>
        </label>
        <table>
            <tbody>
                <tr>
                    <td>
                        <strong>
                            <p><u>Individuals other than licensed contractors licensed under Section 489.111, Florida
                                    Statutes, or professional engineer licensed under Section 471.015, Florida Statutes,
                                    must inspect the structures personally and not through employees or other persons.
                                    Licensees under s.471.015 or s.489.111 may authorize a direct employee who possesses
                                    the
                                    requisite skill, knowledge, and experience to conduct a mitigation verification
                                    inspection.</u></p>
                            <p>I, __________________________ am a qualified inspector and I personally performed the
                                inspection or (licensed)</p>
                            <p>contractors and professional engineers only) I had my employee (_____________________)
                                perform the inspection</p>
                            <p>
                                and I agree to be responsible for his/her work.
                            </p>
                            <p>Qualified Inspector Signature: ___________________________________________________ Date:
                                ______________________</p>
                            <p><u>An individual or entity who knowingly or through gross negligence provides a false or
                                    fraudulent mitigation verification form is subject to investigation by the Florida
                                    Division of Insurance Fraud and may be subject to administrative action by the
                                    appropriate licensing agency or to criminal prosecution. (Section 627.711(4)-(7),
                                    Florida Statutes) The Qualified Inspector who certifies this form shall be directly
                                    liable for the misconduct of employees as if the authorized mitigation inspector
                                    personally performed the inspection.</u></p>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong>
                                <u>Homeowner to complete: </u>
                            </strong> I certify that the named Qualified Inspector or his or her employee did perform an
                            inspection of the residence identified on this form and that proof of identification was
                            provided to me or my Authorized Representative.</p>
                        <p><strong>Qualified Inspector Signature: ___________________________________________________
                                Date: ______________________</strong></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><strong> An individual or entity who knowingly provides or utters a false or fraudulent
                                mitigation
                                verification form with the intent to obtain or receive a discount on an insurance
                                premium to
                                which the individual or entity is not entitled commits a misdemeanor of the first
                                degree.
                                (Section 627.711(7), Florida Statutes)</strong></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p><strong>The definitions on this form are for inspection purposes only and cannot be used to certify any
                product or construction feature as offering protection from hurricanes.</strong></p>

        <strong>Inspectors Initials</strong> __________
        <strong>Property Address</strong>__________________________________________________________________

        </p>
        <p><strong>*This verification form is valid for up to five (5) years provided no material changes have been made
                to the structure or inaccuracies found on the form.
                OIR-B1-1802 (Rev. 01/12) Adopted by Rule 69O-170.0155</strong></p>
    </section>
</body>