@page {
  size: A4;
  margin: 0;
  margin-bottom: 10mm;
}
@media print {
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }
  @page: first{
    @bottom-right {
      content: normal;
    }

    @bottom-center {
      content: normal;
    }

    @bottom-left {
      content: normal;
    }
  };
}
